<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/MY PC/IdeaProjects/TEST6">
        <classes>
            <class name="com.crm.qa.testcases.LoginPageTest"></class>
            <class name="com.crm.qa.testcases.HomePageTest"></class>
            <class name="com.crm.qa.testcases.CartPageTest"></class>
        </classes>
    </test>
    <parameter name="outputDirectory" value="C:\Users\MY PC\IdeaProjects\TEST6\test-output"/>
</suite>
